
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(359deg);}
}
@keyframes MoveUpDown {
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    will-change:transform;
   }
}


:root {
  --orange: #F4810B;
  --orangelite: #F6993C;
  --orange66: #F4810B66;
  --orange33: #F4810B33;
  --pad1: 0.25rem;
  --pad2: 0.5rem;
  --pad3: 1rem;
  --pad4: 1.5rem;
  --pad5: 4rem;
  --pad6: 8rem;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 1rem;
  color: #bbbbbb;
  background-color: #000;
  overflow: hidden;
}

body,
input,
select,
textarea,
button {
  font-family: "Open Sans", helvetica, arial, sans-serif;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

a {
  color: var(--orange);
  text-decoration: none;
}

[role="button"] {
  cursor: pointer;
}

:focus {
  outline: none;
  box-shadow: 0 0 0.5rem var(--orange);
}

input:not([type="checkbox"]):not([type="radio"]),
select,
button {
  height: 2rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  color: #eee;
  background-color: rgba(123,123,123,0.15);
  border: 1px solid transparent;
  border-bottom-color: rgba(0,0,0,0.85);
  border-top-color: rgba(255,255,255,0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem -0.25rem black;
}
input:not([type="checkbox"]):not([type="radio"]) {
  border-top-color: rgba(0,0,0,0.85);
  border-bottom-color: rgba(255,255,255,0.15);
  transform: translateY(-1px);
  box-shadow: none;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: var(--pad1);
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-right: var(--pad3);
}

option {
  background-color: #333;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

code {
  display: inline-block;
  padding: 0.1em 0.2em;
  font: 12px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
  color: #bbb;
  background-color: rgba(123,123,123,0.5);
}

.previewicon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 1rem;
  color: white;
  background-color: black;
  border-radius: 999px;
  opacity: 0.66;
}

.utitle {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.66rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.notice {
  margin: 0;
  background-color: #222;
  overflow: hidden;
  height: 100%;
  padding: var(--pad4);
}
.notice#notice {
  display: block;
}

.notice p{
  margin-bottom:15px;
  margin-top:15px;
}

.flexpacer {
  flex: 1;
}

.tabs {
  display: flex;
  background-color: black;
}
.tab {
  flex: 1;
  margin: 5px 0 0 0;
  padding: 0.5em;
  font-size: 0.85rem;
  color: #999;
  text-align: center;
  background-color: #222;
  border: 0;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-radius: 0;
  box-shadow: 0 -0.2rem 0.5rem -0.1rem black, inset 0 -0.2rem 0.4rem -0.2rem black;
  clip-path:
    polygon(
      0% 0%,
      0% 0%,
      calc(100% - var(--pad3)) 0%,
      100% var(--pad3),
      100% 100%,
      100% 100%,
      0% 100%,
      0% 0%
    );
}
.tab.on {
  color: #ffffff;
  background-color: #282828;
  box-shadow: 0 -0.2rem 0.5rem -0.2rem black;
}
.tab:not(:first-child) {
  margin-left: 5px;;
}

.butt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  background-color: var(--orange);
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid black;
  transition: all 100ms ease-in-out;
  user-select: none;
}
.butt:hover {
  background-color: var(--orangelite);
}

.graybutt {
  color: #888;
  background: rgba(255,255,255,0.066);
}
.graybutt:hover {
  background: #444;
}
.graybutt:focus {
  background: rgba(255,255,255,0.1);
}

.redbutt {
  background: #c43;
}
.redbutt:hover {
  background: #b54;
}

.iconbutt {
  width: 2rem;
  padding: 0;
  font-size: 0.5rem;
}
.iconbutt.on {
  color: var(--orange);
  background: rgba(255,255,255,0.033);
  border-top: 1px solid black;
  border-bottom: 1px solid var(--orange66);
  box-shadow: inset 0 0 1rem var(--orange33);
}
.iconbutt .material-icons {
  font-size: 1.43rem;
}

.working .material-icons {
  animation: spin 3s infinite linear;
}

.ps {
  position: relative;
  overflow: hidden;
}
.ps__rail-x {
	display: none !important;
}
.ps__rail-y {
	z-index: 2;
}
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover,
.ps .ps__rail-y.ps--clicking {
	background-color: transparent;
	outline: none;
}
.ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 0.5rem;
	background-color: rgba(123,123,123,0.5);
	border-radius: 0.2rem;
}

.scrollit {
  overflow: auto;
}


/* Top Bar / Site Header */

#topbar {
  display: flex;
  align-items: center;
  padding: var(--pad1) var(--pad3);
  color: #fff;
  background-color: black;
}
.ftlogo {
  margin-right: 0.5rem;
  color: var(--orange);
  font-size: 1.25rem;
  font-weight: 700;
}
#idtitle {
  display: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
}
#loggedInName {
  margin: 0 var(--pad2);
}
.header_icon {
  margin: 0.2rem 0.2rem 0 0.2rem;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: none;
  border: 0;
}
.header_icon .material-icons {
  font-size: 1.2rem;
  color: #888;
}


/*------------------------------------ MAIN BODY THINGS */

#mainGrid {
  grid-area: main;
  flex: 1;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "stage"
    "main"
    "main"
    "main"
  ;
  overflow: hidden;
}
#mainGrid.mmusrs {
  grid-template-areas:
    "stage"
    "theme"
    "mmopts"
    "users"
  ;
}
#mainGrid.mmusrs #queuebox,
#mainGrid.mmusrs #thehistoryWrap,
#mainGrid.mmusrs #actualChat,
#mainGrid.mmusrs #login {
  display: none;
}
#mainGrid.mmqueue {
  grid-template-areas:
    "stage"
    "theme"
    "mmopts"
    "queues"
  ;
}
#mainGrid.mmqueue #usersbox,
#mainGrid.mmqueue #thehistoryWrap,
#mainGrid.mmqueue #actualChat,
#mainGrid.mmqueue #login {
  display: none;
}
#mainGrid.mmchat {
  grid-template-areas:
    "stage"
    "theme"
    "mmopts"
    "chat"
  ;
}
#mainGrid.mmchat #usersbox,
#mainGrid.mmchat #queuebox,
#mainGrid.mmchat #thehistoryWrap,
#mainGrid.mmchat #login {
  display: none;
}
#mainGrid.login {
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "stage"
    "login"
  ;
}
#mainGrid.login #usersbox,
#mainGrid.login #queuebox,
#mainGrid.login #history,
#mainGrid.login #thehistoryWrap,
#mainGrid.login #themebox,
#mainGrid.login #actualChat,
#mainGrid.login #voteActions,
#mainGrid.login #minimodeoptions {
  display: none;
}

/* MiniMode Nav */

#minimodeoptions {
  grid-area: mmopts;
}
#minimodeoptions .tab {
  background-color: #1b1b1b;
}
#minimodeoptions .tab.on {
  background-color: #222;
}


/* Users Lists */

#usersbox {
  grid-area: users;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#userslist {
  flex: 1;
  background-color: #282828;
  overflow: hidden;
}
#usertabs {
  padding-top: 0.5rem;
  background-color: #222;
}
#allusers,
#justwaitlist {
  padding-top: 1rem;
}
.prson {
  display: flex;
  align-items: center;
  min-width: 0;
  padding: var(--pad1) var(--pad4);
}
.prsnName {
  flex: 1;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.5;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
#userslist .utitle {
  margin-left: auto;
}
.botson{
  background-color: #000;
  background-size: auto 100%;
  border-radius: 999px;
  background-position: center 55%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #888;
}
#userslist .botson {
  margin-right: var(--pad2);
  width: 2rem;
  height: 2rem;
}


/* The Stage */

#stage {
  grid-area: stage;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
#stage::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.55));
}
#stage > div:not(#screenBox) {
  position: relative;
  z-index: 2;
}

#djStage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#nowplaying {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "art track timr"
    "art artist artist"
    "art plays plays"
  ;
  margin-bottom: auto;
  padding: var(--pad4);
}
#nowplaying::before {
  content: '';
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: 15rem;
  height: 5rem;
  background-color: rgba(0,0,0,0.25);
  box-shadow: 0 0 10rem 10rem rgba(0,0,0,0.25);
}
#albumArt {
  grid-area: art;
  margin: var(--pad1) var(--pad3) 0  var(--pad1);
  width: 4rem;
  height: 4rem;
  background-size: cover;
  background-position: center center;
}
#track {
  grid-area: track;
  font-size: 1.25rem;
  color: white;
}
#timr {
  grid-area: timr;
  padding-top: 0.15em;
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: right;
}
#artist {
  grid-area: artist;
  margin-bottom: var(--pad2);
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#source,
#plays {
  font-size: 0.75rem;
  font-weight: 700;
  color: rgba(255,255,255,0.8);
}
#plays {
  grid-area: plays;
}
#playCount,
#firstPlay {
  margin-right: var(--pad2);
}

#playCount:empty,
#firstPlay:empty,
#lastPlay:empty {
  display: none;
}


#deck {
  grid-area: deck;
  display: flex;
  max-width: 100vw;
}
.spot {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: var(--pad2);
  margin-left: var(--pad2);
  min-width: 0;
  height: 1.5rem;
}
.spot.empty .djplaque {
  flex-direction: column;
  color: rgba(255,2556,255,0.5);
}
.avtr {
  display: none;
  position: absolute;
  z-index: 0;
  bottom: 1.4rem;
  width: 100%;
  height: 8rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.avtr.animate {
  animation: MoveUpDown 1s linear infinite;
}
.djplaque {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  min-width: 0;
  padding: 0 var(--pad3);
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-align: center;
  background-color: #151515;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.djname {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right:5px;
}
.playcount {
  white-space: nowrap;
}

#prgbar {
  width: 100%;
  height: 0.5rem;
  border-bottom: 1px solid #333;
  margin-bottom: 0;
}

#volandthings,
#queueControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0.5rem;
  white-space: nowrap;
}
#volandthings{
  position: relative;
  background-color: #151515;
  border-bottom: 1px solid #333;
}
#songthings,
#voteActions,
#songActions,
#playerControls {
  display: flex;
  white-space: nowrap;
}
#songthings,
#playerControls {
  flex: 1;
}
#songthings .iconbutt{
  margin-right: 0.25rem;
}
#voteActions {
  margin-right: 1rem;
}
#playerControls {
  margin-left: 1rem;
}
#volplace {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  white-space: nowrap;
}
#volstatus {
  cursor: pointer;
}
#volplace .material-icons {
  font-size: 16px !important;
}
#shareinfo {
  text-align: right;
}
#stealContain {
  display: none;
  position: fixed;
  z-index: 59;
  top: 50%;
  left: 50%;
  box-shadow: 0 0.25rem 1rem -0.25rem black;
}
#stealBox {
  width: 16rem;
  padding: var(--pad3);
  background-color: #333;
  border-radius: 5px;
}
#stealArrow {
  margin-top: -0.5rem;
  margin-left: 1.15rem;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #333;
}
select#stealpicker {
  width: 100%;
  font-size: 1rem;
  border: none;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  background-color: #222;
  padding-left: var(--pad1);
  color: #eee;
  white-space: nowrap;
}

#addToQueueBttn {
    margin-left: 1em;
    color: white;
    background-color: var(--orange);
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 5px;
}

#slider {
  margin-right: var(--pad2);
  width: 100%;
  max-width: 10rem;
}
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.25rem;
  height: 1.25rem;
  cursor: grab;
  background-color: #bbb;
  border: 0.2rem solid #666;
  border-radius: 999px;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
  background-color: var(--orange);
}
.ui-slider-horizontal {
  height: 3px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.6rem;
  margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  font-weight: normal;
}
.ui-widget.ui-widget-content {
  border: none;
  background-color: rgba(204, 204, 204, 0.43137254901960786);
}
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
}

#screenBox {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: top 2s ease-in-out;
  pointer-events: none;
}
#scScreen,
#playerArea {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
}
#screenover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1));
}


/* Queues / Playlists */

#queuebox {
  grid-area: queues;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
input#queueFilter {
    width: 100%;
}

div#filterMachine {
    padding: var(--pad2);
}
#mainqueue .material-icons {
  margin: 0 var(--pad1);
  font-size: 1.2rem;
}
#queuelist .pvbar {
  display: flex;
  align-items: center;
  padding: var(--pad2) var(--pad2);
  background-color: #222;
  border-bottom: 1px solid black;
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#queuelist .listwords {
  flex: 1;
  margin-left: var(--pad2);
}
#listpickerWrap {
  flex: 1;
}
select#listpicker {
  width: 100%;
  background-color: #333;
  padding-left: var(--pad2);
}
#queueControls,
#filterMachine {
  background-color: #222;
}
#qControlButtons {
  display: flex;
}
button#cancelqsearch {
  display: none;
  margin-left: var(--pad2);
}
#addbox,
#plmanager {
  display: none;
  flex-direction: column;
  height: 100%;
  background-color: #222;
  overflow: hidden;
}
#plmanager {
  padding: var(--pad2);
}
.ortxt {
  padding: var(--pad1);
  text-align: center;
}
input#qsearch {
  margin: var(--pad2);
}
#queuelist {
  flex: 1;
  background-color: #181818;
}
#searchResults {
  flex: 1;
  background-color: #282828;
}
#mergeContain {
  display: none;
  position: absolute;
  z-index: 15;
  width: calc(100% - 30px);
  margin: 0.5rem 15px 0 15px;
  box-shadow: 0 0.25rem 0.5rem -0.125rem black;
}
#mergeArrow {
  position: absolute;
  bottom: 100%;
  right: 1.85rem;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #333;
}
#mergeBox {
  background-color:#333;
  padding: 15px;
  border-radius: 5px;
}
#mergeSetup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#mergeHappening {
  display:none;
}
select#mergepicker, #mergepicker2 {
  width: calc(50% - 50px);
  font-size: 14px;
  border: none;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  background-color: #222;
  padding-left: 5px;
  color: #eee;
  height: 24px;
  white-space: nowrap;
}
#mergeBox i.material-icons {
  font-size: 17px !important;
  font-weight: 700;
  cursor: default;
  vertical-align: middle;
}
#mergeCompleted{
  display:none;
}
.importResult {
  display: flex;
  align-items: center;
  padding: var(--pad1) 0;
  border-bottom: 1px solid #111;
}
.importResult .material-icons {
  margin-left: var(--pad2);
  font-size: 1rem;
}
a.importLinkCheck {
  color: #eee;
  line-height: 0;
}
.imtxt {
  flex: 1;
  padding-right: var(--pad2);
}


/* Theme */

#themebox {
  grid-area: theme;
  z-index: 15;
  padding: var(--pad2);
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #333;
  border-bottom: 1px solid #111;
  overflow: hidden;
}

#currentTheme{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

/* Chat */

#actualChat {
  grid-area: chat;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #181818;
}
#chatsWrap {
  flex: 1;
}
#newchat {
  flex: 1;
  margin-right: var(--pad1);
}
.newChat {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: var(--pad3);
  color: #ddd;
  word-break: break-word;
  background-color: #181818;
}
.newChat .botson{
  position: relative;
  z-index: 2;
  margin: 0.15rem var(--pad3) 0 0;
  width: 2rem;
  height: 2rem;
}
.nowplayn {
  position: relative;
  background-color: transparent;
}
.newChat.nowplayn,
.nowplayn + .newChat {
  border: 0;
}
.npmsg {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: var(--pad1);
  color: #888;
  font-size: 0.75rem;
  text-align: center;
  background-color: #282828;
  border-radius: var(--pad1);
}
.chatContent {
  flex: 1;
  padding: 0 var(--pad4) 0 0;
}
.chatContent .utitle {
  line-height: 1.6;
  color: rgba(255,255,255,0.25);
}
.chatHead {
  display: flex;
}
.chatName {
  margin-right: var(--pad2);
  font-size: 0.75rem;
  font-weight: 700;
  color: rgba(255,255,255,0.4);
}
.chatText a {
  position: relative;
  display: block;
}
.chatText .inlineImage {
  display: block;
  max-width: 100%;
}
.chatText .hideImage {
  position: absolute;
  z-index: 2;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.25rem;
  color: white;
  background-color: rgba(255,0,0,0.5);
  border-radius: 999px;
}
.chatText.hideImg .inlineImage {
  position: relative;
  height: 2.5rem;
  opacity: 0;
  visibility: hidden;
}
.chatText.hideImg a.inlineImgLink::after {
  content: 'image hidden';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.66rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;;
  color: rgba(255,255,255,0.5);
  background-color: black;
}
.chatText.hideImg .hideImage {
  background-color: #444;
  transform: rotate(45deg);
}
.badoop::before {
  content: "";
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: calc( var(--pad3) * -1 );
  left: calc( var(--pad3) * -1 );
  bottom: calc( var(--pad3) * -1 );
  width: 0;
  padding: 0.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 3.2;
  color: #777;
  background-color: #444;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}
.chatTime {
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-size: 0.66rem;
  color: rgba(255, 255, 255, 0.47);
  white-space: nowrap;
}
.chatCard {
  display: block;
  margin: var(--pad2) 0;
}
#chatbottom {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--pad1);
  background-color: #282828;
}
#pickerResults {
  overflow-y: scroll;
  height: 33vh;
  overflow-x: hidden;
  text-align:center;
}
.pickerSecSelected{
  color: #fff;
  border-bottom: 2px solid #fff;
}
#pickerResults span {
  margin-right: var(--pad2);
  display: inline-block;
  margin-bottom: var(--pad2);
}
#pickerResults h3 {
  margin-bottom: var(--pad3);
  margin-top: var(--pad2);
  text-align: center;
}
#emojiPicker {
  position: absolute;
  z-index: 99;
  left: 0;
  bottom: 100%;
  width: 100%;
  padding: var(--pad3);
  background-color: #2d2d2d;
  box-shadow: 0 -0.25rem 0.5rem black;
}
#pickerNav {
  overflow: hidden;
  white-space: nowrap;
}
input#pickerSearch {
  width: 100%;
  margin: var(--pad2) 0;
}
#pickerNav i {
  margin-right: var(--pad2);
  cursor: pointer;
}
#pickerNav .on {
  color: var(--orange);
}
img.emoji {
  height: 1.25em;
  width: 1.25em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}


/* History */

#thehistoryWrap {
  position: absolute;
  z-index: 15;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #222;
}
#thehistory .pvbar {
  display: flex;
  padding: var(--pad2) var(--pad2) var(--pad2) var(--pad2);
  border-bottom: 1px solid black;
}
.histmoreinfo {
  font-size: 0.8rem;
  color: #888;
}
.histart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--pad2);
  height: 2.5rem;
  width: 2.5rem;
  background-size: cover;
  background-position: center;
}
.histlink {
  color: #bbb;
}
.qtxt {
  flex: 1;
}


/* Login */

#welcomeInfo {
  padding-bottom: var(--pad4);
}
#login {
  grid-area: login;
  padding: var(--pad5);
  background: #151515;
}
#login h4 {
  font-size: 1.25rem;
  font-weight: 300;
}
#login h4 a {
  font-size: 1rem;
}
#login .butt {
  width: auto;
}
.inputline {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  max-width: 20rem;
}
.inputline > * {
  margin: var(--pad1) 0;
}
.formlinks {
  margin-top: var(--pad3);
}

#login .formlinks a {
    margin-right: 15px;
    cursor: pointer;
}
#login .formlinks a:last-child {
    margin-right: 0;
}

#login .formlinks .selected{
  display:none;
}



/* Modals */

#overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
}
#modal {
  background-color: #222;
  max-width: 90vw;
  border-radius: 0.5rem;
  overflow: hidden;
}
.modalThing {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow: hidden;
}
.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--pad2) var(--pad3);
  color: #eee;
  background-color: #333;
}
.modalContent {
  flex: 1;
  padding: var(--pad2) var(--pad3);
}

.settingline {
  margin-bottom: var(--pad2);
}

.caseCard {
  margin: var(--pad2);
}
.caseCardSpot {
    position: relative;
}
span.cardShareChat {
    position: absolute;
    right: 85px;
    bottom: 160px;
    font-size: 14px;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
    display: none;
}
span.cardGiftChat {
    position: absolute;
    right: 100px;
    bottom: 200px;
    font-size: 14px;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
    display: none;
}
span.cardGiftChat:hover,
span.cardShareChat:hover {
  background-color: var(--orange);
  color: #000;
}
.caseCardSpot:hover .cardShareChat,
.caseCardSpot:hover .cardGiftChat {
  display: block;
}

#rsnCredit {
  margin-top: var(--pad1);
  font-size: 10px;
  color: #999;
}
input#tagMachine, #supercopSearch {
  line-height: 30px;
  width: 470px;
  padding: 5px;
  margin-bottom: 15px;
}
#importSources {
  padding: 0;
  background: none;
}
#importContent {
  padding: var(--pad2) var(--pad3);
  background-color: #282828;
}
#byId {
  display: flex;
  align-items: center;
}
#byId .butt:disabled {
  opacity: 0.4;
}
input#plMachine,
input#plMachineById {
  line-height: 30px;
  width: 100%;
  padding: 5px;
}
input#plMachineById {
  padding-right: 40px;
}
#supercopResponse {
  margin-top: -15px;
}
#mergeLists,
#shuffleQueue {
  margin-left:1em;
}


/* About page */

body.blog {
  overflow: auto;
}
div#blog {
  flex: 1;
  padding: var(--pad5);
  background-color:#282828;
}


/* Initially hidden stuff */
#ftSuperCopButton,
#audilert,
#sc-widget,
#justwaitWrap,
.notice,
#emojiPicker,
#overlay {
  display: none;
}




/*------------------------------------ Media Queries -*/

@media only screen and (min-width: 800px) {


  body.screen #albumArt {
    display: none;
  }
  body.screen #screenBox {
    top: 0;
  }

  #mainGrid {
    gap: 0 5px;
  }

  #mainGrid,
  #mainGrid.mmchat {
    grid-template-rows: auto auto auto 1fr;
    grid-template-columns: 60vw 40vw;
    grid-template-areas:
      "stage theme"
      "stage chat"
      "mmopts chat"
      "users chat"
    ;
  }
  #mainGrid.mmusrs {
    grid-template-areas:
      "stage theme"
      "stage chat"
      "mmopts chat"
      "users chat"
    ;
  }
  #mainGrid.mmqueue {
    grid-template-areas:
      "stage theme"
      "stage chat"
      "mmopts chat"
      "queues chat"
    ;
  }
  #mainGrid.mmchat #usersbox,
  #mainGrid.mmqueue #actualChat,
  #mainGrid.mmusrs #actualChat {
    display: flex;
  }
  #mainGrid.login {
    grid-template-areas:
      "stage queues"
      "login queues"
    ;
  }
  #mainGrid.login #queuebox,
  #mainGrid.login #thehistoryWrap {
    display: block;
  }
  #mainGrid.login .histeal,
  #mmchat {
    display: none;
  }

  #idtitle {
    display: block;
  }

  #thehistoryWrap {
    grid-area: mmopts / users;
    display: block;
    position: relative;
    top: auto !important;
    bottom: auto;
  }
  #mainGrid.mmqueue #thehistoryWrap {
    grid-area: mmopts / queues;
  }

}


@media only screen and (min-width: 1200px) {

  #mainGrid,
  #mainGrid.mmqueue,
  #mainGrid.mmchat,
  #mainGrid.mmusrs {
    grid-template-rows: auto auto 1fr;
    grid-template-columns: minmax(16rem, 20rem) minmax(40vw, 100vw) minmax(24rem, 36rem);
    grid-template-areas:
    "users stage theme"
    "users stage chat"
    "users queues chat"
    ;
  }
  #mainGrid.mmusrs #queuebox,
  #mainGrid.mmusrs #actualChat,
  #mainGrid.mmchat #usersbox,
  #mainGrid.mmchat #queuebox,
  #mainGrid.mmqueue #usersbox,
  #mainGrid.mmqueue #actualChat {
    display: flex;
  }
  #mainGrid.login {
    grid-template-areas:
    "stage stage queues"
    "login login queues"
    ;
  }

  #mainGrid #minimodeoptions {
    display: none;
  }

  #usertabs {
    padding-top: 0;
    background-color: black;
  }

  #djStage {
    height: 30vh;
    min-height: 15rem;
  }

  .avtr {
    display: block;
  }

  #albumArt {
    height: 6.5rem;
    width: 6.5rem;
  }

  #deck {
    margin-left: 5vw !important;
    margin-right: 5vw !important;
  }
  .djplaque {
    justify-content: space-between;
  }
  #thehistoryWrap {
    grid-area: queues !important;
  }

}



@media only screen and (min-width: 1680px) {

  #mainGrid,
  #mainGrid.mmqueue,
  #mainGrid.mmchat,
  #mainGrid.mmusrs {
    grid-template-columns: minmax(16rem, 20rem) minmax(50vw, 100vw) minmax(24rem, 36rem);
  }
  #mainGrid.login {
    grid-template-areas:
    "stage stage queues"
    "login login queues"
    ;
  }
  #mainGrid.login #queuebox {
    display: none;
  }
  #mainGrid.login #thehistoryWrap {
    width: 100%;
  }

  #history {
    position: absolute;
    left: 60%;
    bottom: -1px;
    width: auto;
    padding: 0 var(--pad2);
    border-left: var(--pad1) solid #151515;
    border-bottom-color: #222;
    border-radius: 0;
    clip-path:
    polygon(
      0% 0%,
      0% 0%,
      calc(100% - var(--pad2)) 0%,
      100% var(--pad2),
      100% 100%,
      100% 100%,
      0% 100%,
      0% 0%
    );
    pointer-events: none;
  }
  #history::after {
    content: "Recent Plays";
    margin-left: var(--pad1);
    font-size: 0.85rem;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
  }

  #queuebox {
    width: 60%;
  }

  #thehistoryWrap {
    display: block !important;
    grid-area: queues;
    justify-self: flex-end;
    z-index: auto;
    width: 40%;
    border-left: var(--pad1) solid #151515;
  }

}



@media only screen and (min-width: 2100px) {

  html {
    font-size: calc( 0.4em + 0.4vw);
  }

  #mainGrid,
  #mainGrid.mmqueue,
  #mainGrid.mmchat,
  #mainGrid.mmusrs {
    grid-template-columns: minmax(24rem, 36rem) minmax(40vw, 100vw) minmax(24rem, 36rem);
  }

  #usersbox .tab {
    color: #ffffff;
    background-color: #282828;
    box-shadow: 0 -0.2rem 0.5rem -0.2rem black;
  }

  #userslist {
    display: flex;
  }

  .usersWrap {
    display: block !important;
    flex: 1;
  }

  #allusersWrap {
    border-right: 5px solid black;
  }

}
