html{
  height: 100%;
}

body{
  margin: 0;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 14px;
  color: #bbbbbb;
  background-color: #212121;
  overflow: hidden;
}

#updated{
  font-size:14px;
  font-weight:400;
}

div#mergeContain {
    position: absolute;
    width: calc(100% - 30px);
    margin: 0 15px;
    display:none;
}

div#mergeArrow {
    margin-top: -5px;
    margin-left: calc(100% - 65px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #333;
}

#mergeBox{
  background-color:#333;
  padding: 15px;
  border-radius: 5px;
}

#mergeHappening{
  display:none;
}

select#mergepicker, #mergepicker2 {
    width: calc(50% - 50px);
    font-size: 14px;
    border: none;
    font-family: "Open Sans", helvetica, arial, sans-serif;
    background-color: #212121;
    padding-left: 5px;
    color: #eee;
    height: 24px;
    white-space: nowrap;
}

#mergeBox i.material-icons {
    font-size: 17px !important;
    font-weight: 700;
    cursor: default;
    vertical-align: middle;
}

span#startMerge, #mergeOK {
    padding: 5px 10px;
    font-size: 12px;
    color: #999;
    background-color: #222;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}
#mergeCompleted{
  display:none;
}
#notice {
  margin: 0;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 14px;
  color: #bbbbbb;
  background-color: #212121;
  overflow: hidden;
  height: 100%;

}

#notice .inner{
    padding: 50px;
    max-width: 600px;
    margin-left:auto;
    margin-right: auto;
}

body.blog{
  overflow-y: scroll !important;
}

div#blog {
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

code {
    background-color: #cccccc;
    color: #262626;
    font: 12px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
    padding: 1px;
    padding-bottom: 0;
}

#searchin{
  text-align:center;
  margin-top:55px;
}

div#recentHistory {
    height: 300px;
    width: calc(75% - (75% * 0.25));
    position: absolute;
    z-index: 25;
    top: 175px;
    display:none;


}
#recentHistory .qtxt{
  width: calc(100% - 30px) !important;
}

div#histmoreinfo {
    font-weight: 400;
    font-size: 10px;
    color: #888;
    float: right;
    width: calc(100% - 10px);
}
#recentHistory .listwords{
  width: calc(100% - 10px) !important;
  overflow-x: hidden;
white-space: nowrap;
text-overflow: ellipsis;
float: right;
}
#recentHistory .previewicon {
    width: 30px;
    color: #fff;
    background-color:#000000;
    border-radius:15px;
    text-align:center;
    display: block;
    margin-left:10px;
    margin-top:10px;
    opacity: 0.75;
}
#recentHistory #thehistory{
      background-color: #212121;
      height: 100%;
      overflow-y: scroll;
}

.histart {
    float:left;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
}

#recentHistory .pvbar {
    width: calc(100% - 58px);
    min-height: 45px;
    float: right;
}

#recentHistory.qresult{
   width: calc(100% - 1px);
}

#recentHistory .material-icons {
    font-size: 15px !important;
    cursor: pointer;
}

div#historyarrow {
    margin-top: -10px;
    margin-left:calc(100% - 50px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #212121;
}

span#ftSettings i, span#ftSuperCopButton i {
    vertical-align: middle;
    font-size:16px;
}
span#ftSettings, span#ftSuperCopButton{
    margin-left: 5px;
    color: #999;
    font-size: 12px;
    cursor: pointer;
    font-weight:400;
}
#ftSuperCopButton{
  display:none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

div#usrarea {
  float: left;
}

div#otherpart {
  float: right;
  width: 680px;
}

div#upperlay {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.55));
  padding-top: 15px;
}


#scArea {
  display: none;
}

div#scScreen {
    width: 100%;
    height: 283px;
    position: absolute;
}

#playerArea {
  width: 100%;
}

#screenBox{
  position: absolute;
  top: -300px;
  width: calc(75% - (75% * 0.25));
  left: calc(75% - (75% * 0.75));
  z-index: 0;
  pointer-events: none;
}

#grab, #reloadtrack, #history {
  cursor: pointer;
  font-size: 12px;
}

#grab, #reloadtrack{
  margin-right: 15px;
}

.badoop a {
    color: #fff;
}

#addbox,
#searchResults {
  background-color: #212121;
}

span#ytsearchSelect {
  width: 50%;
  text-align: center;
  display: inline-block;
}

span#scsearchSelect {
  width: 50%;
  text-align: center;
  display: inline-block;
}

div#searchSelects {
  cursor: pointer;
  font-size: 12px;
  line-height: 25px;
  border-bottom: 1px solid #111;
}

.searchSelectsSelected {
  color: #fff;
  background-color: #151515;
}

.grabbed {
  color: rgb(244, 129, 11) !important;
}

#topbar {
  background-color: #000;
  color: #fff;
  z-index: 22;
  position: relative;
}

select#deletepicker {
  width: 98%;
  font-size: 14px;
  border: 1px solid #111;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  background-color: #151515;
  color: #eee;
  white-space: nowrap;
}

div#pldeleteButton {
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
  background-color: red;
  color: #fff;
  cursor: pointer;
  width: 98%;
}

select#listpicker {
  float: left;
  width: calc(100% - 190px);

  font-size: 14px;
  border: 1px solid #111;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  border-bottom: none;
  background-color: #151515;
  padding-left:5px;
  border-left:none;
  color: #eee;
  height: 24px;
  white-space: nowrap;
}

.newChat {
  padding: 5px 15px 5px 15px;
}

.nowplayn {
  background-color: #333 !important;
}

.chatName {
  font-weight: 700;
}

.newChat:nth-child(even) {
  background-color: #151515;
}

#signOut {
  margin-left: 5px;
  cursor: pointer;
  color: #999;
}

#chatlabel {
  margin-top: 20px;
  display: block;
}

.subt {
  font-size: 14px;
  font-weight: 400;
  color: #0084B4;
  cursor: pointer;
  text-decoration: underline;
}

#topbar .inr {
  line-height: 35px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 30px);
}

#actualChat {
  height: 560px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.badoop {
  background-color: #2c4e61 !important;
}

.chatTime {
  display: inline-block;
  float: right;
  font-weight: 400;
  font-size: 10px;
  color: #ffffff73;
}

.chatText a {
  position: relative;
  display: block;
}
.chatText .inlineImage {
  display: block;
  max-width: 100%;
}
.chatText .hideImage {
  position: absolute;
  z-index: 2;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.25rem;
  color: white;
  background-color: rgba(255,0,0,0.5);
  border-radius: 999px;
  cursor: pointer;
}
.chatText.hideImg .inlineImage {
  position: relative;
  height: 2.5rem;
  opacity: 0;
  visibility: hidden;
}
.chatText.hideImg a.inlineImgLink::after {
  content: 'image hidden';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.66rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;;
  color: rgba(255,255,255,0.5);
  background-color: black;
}
.chatText.hideImg .hideImage {
  background-color: #444;
  transform: rotate(45deg);
}

.minimodeopt {
  display: inline-block;
  width: calc(33.33% - 1px);
  cursor: pointer;
  border-right: 1px solid #111;
  line-height: 30px;
  font-size: 12px;
  color: #999;
  text-align: center;
}

.mmselected {
  color: #ffffff;
}

div#minimodeoptions {
  background-color: #212121;
  display: none;
  border-bottom: 1px solid #111;
  white-space: nowrap;
}
a {
  color: #0084B4;
}

.npmsg {
  font-size: 12px;
  text-align: center;
}

#login h4 {
  font-size: 14px;
  font-weight: 700;
}

#middleContain {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}

.inputline {
  line-height: 35px;
}

#addToQueueBttn {
  float: left;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  background-color: #F4810B;
  border-radius: 5px;
  cursor: pointer;
}

#addToQueueBttn,
select#listpicker {
  margin: 15px;
}

#welcomeInfo {
  padding-bottom: 25px;
  border-bottom: 1px solid #111;
}

#login button {
  background-color: #eee;
  color: #000;
  padding: 2px 10px 2px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

div#notloggedin {
  padding: 15px;
  text-align: center;
  font-size: 22px;
  margin-top: 75px;
  color: #999;
  font-weight: 700;
  background-color: #212121;
}

#login {
  margin-top: 25px;
  padding: 15px;
  margin-left: 15px;
}

input {
  font-size: 14px;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  color: #eee;
  border: 1px solid #111;
  background-color: #333;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.previewicon {
  display: block !important;
  float: left;
  line-height: 30px !important;
  width: 25px;
}

span.listwords {
  display: block;
  padding-top: 5px;
  float: right;
  width: calc(100% - 25px);
}

span.listwords a {
    color: #bbbbbb;
    text-decoration: none;
}


#login input {
  width: 95%;
}

div#themebox {
  display:none;
  position: absolute;
  z-index: 15;
  font-size: 12px;
  background-color: #333;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #111;
}
div#themeflex {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}
div#themeflex button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-size: 1rem;
  background: #444;
  border: 1px solid transparent;
  border-top: 1px solid #555;
  border-bottom: 1px solid black;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem -0.25rem black;
  transition: background 100ms ease-in-out;
  cursor: pointer;
}
div#themeflex button:hover {
  background: #F4810B;
}
div#themeflex > div {
  flex: 1;
  min-width: 0;
}

div#currentTheme {
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.themeTime > :nth-child(2) {
    margin-top: 45px;
}

#newchat {
    width: calc(100% - 65px);
    padding-left: 15px;
    padding-right:50px;
    line-height: 30px;
    border-left: none;
    background-color: #212121;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    border-right: none;
}

div#pickerResults {
    overflow-y: scroll;
    height: 155px;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
    text-align:center;
}

.pickerResult{
  cursor: pointer;
}

.pickerSecSelected{
  color: #fff;
  border-bottom: 2px solid #fff;
}

#pickerResults span {
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 5px;
}
#pickerResults h3 {
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}
div#chatMaker {
    position: relative;
}

div#pickEmoji {
    position: absolute;
    right: 15px;
    top: 4px;
    cursor: pointer;
}

div#emojiPicker {
    position: absolute;
    bottom: 34px;
    height: 250px;
    display:none;
    width: 100%;
    background-color: #000000;
    opacity: 97.86%;
}

div#pickerNav {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    overflow-x:hidden;
    overflow-y:hidden;
    white-space:nowrap;
}

input#pickerSearch {
  width: calc(100% - 40px);
  margin: 15px;
  margin-top:5px;
  padding: 5px;
}

div#pickerNav i {
    cursor: pointer;
    margin-right: 5px;
}

div#screenover {
    width: 100%;
    height: 283px;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.88) , rgba(0, 0, 0, 0.49) 20%,  rgba(255, 255, 255, 0.25) );
}

#tagPromptMain .left {
  float: left;
}

#tagPromptMain .right {
  float: right;
}

.qtxt {
  display: inline-block;
  width: calc(100% - 75px);
}

.delete i {
  line-height: 30px;
  padding-left: 3px;
  padding-right: 3px;
}

.delete i:hover {
  color: #999;
}

#mainThing #rightbox {
  float: right;
  width: 270px;
}

#queuebox .material-icons {
  font-size: 15px !important;
  cursor: pointer;
}

#volplace {
  float: left;
  padding-left: 15px;
}

#info i, #infobutton i {
  font-size: 16px;
  vertical-align:middle;
}

#info {
  font-weight: 700;
}

#infobutton {
  margin-left:10px;
  color: #999;
  font-size: 12px;
  text-decoration: none;
  font-weight:400;
}

#volplace .material-icons {
  font-size: 16px !important;
}

#shareinfo {
  float: right;
  padding-right: 15px;
}

i#refreshSong {
  margin-left: 15px;
  cursor: pointer;
}

.djplaque {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  text-align: center;
  background-color: #151515;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.delete {
  float: right;
}

.spotlight {
  background-color: #F4810B;
  color: #fff;
  border: 1px solid #F4810B !important;
}

#nowplaying {
  font-size: 18px;
  width: 563px;
  float: right;
  height: 102px;
  font-weight: 700;
  display: block;
  position: relative;
}

#prgbar {
  width: 100%;
  height: 5px;
  border-bottom: 1px solid #333;
  margin-bottom: 0;
}

#track {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 15px;
  text-overflow: ellipsis;
  width: 485px;
}

#artist {
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  padding-left: 15px;
  white-space: nowrap;
  width: 485px;
  text-overflow: ellipsis;
}

#timr {
  font-size: 14px;
  font-weight: 700;
  padding-right: 15px;
  float: right;
  display: inline-block;
}

#deck {
  display: flex;
  margin-top: 25px;
  height: 140px;
}

.djplaque {
  min-width: 0;
}

.spot.empty .djplaque {
  flex-direction: column;
  color: rgba(255,2556,255,0.5);
}

.djname {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.playcount {
  white-space: nowrap;
}

#deck .spot {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 1vw;
  margin-left: 1vw;
  height: 140px;
  overflow-y: hidden;
  overflow-x: hidden;
}

#mainThing #leftbox {
  float: left;
  width: 920px;
}

#topbar .inr .left {
  float: left;
  color: #F4810B;
  font-size: 18px;
  font-weight: 700;
}

span.utitle {
  font-size: 12px;
  font-weight: 400;
}

input#qsearch {
  width: calc(100% - 12px);
  line-height: 30px;
  padding: 5px;
}

input#plmaker {
  width: 95%;
  line-height: 30px;
  padding: 5px;
}

#rsnCredit {
  font-size: 10px;
  color: #999;
  margin-top: 5px;
}

input#tagMachine, #supercopSearch {
  line-height: 30px;
  width: 470px;
  padding: 5px;
  margin-bottom: 15px;
}

#byId {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
#byId button.material-icon {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  color: #bbbbbb;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 9px;
  right: 5px;
}
#byId button.material-icon:disabled {
  color: #444 !important;
  cursor: not-allowed;
}
#byId button.material-icon:hover {
  color: #999;
}
input#plMachine,
input#plMachineById {
  line-height: 30px;
  width: 100%;
  padding: 5px;
}
input#plMachineById {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 40px;
}
div#byId > p {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

div#supercopResponse {
    margin-top: -15px;
}
#plmanager p, #plmanager strong {
  padding: 5px;
}

#importSources {
  line-height: 30px;
  border-bottom: 1px solid #111;
  cursor: pointer;
  font-size: 12px;
}

.importChoice {
  background-color: #151515;
  color: #fff;
}

#importSources span {
  width: 50%;
  text-align: center;
  display: inline-block;
}

div#cancelqsearch{
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  padding: 5px 10px;
  font-size: 12px;
  color: #999;
  background-color: #222;
  border-radius: 4px;
  cursor: pointer;
  width: 120px;
  text-align: center;
}

#shuffleQueue, #mergeLists {
  padding: 5px 10px;
  font-size: 12px;
  color: #999;
  background-color: #222;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin: 14px 0;
}

#shuffleQueue i.material-icons, #mergeLists i.material-icons  {
  font-size: 14px !important;
  vertical-align: middle;
  overflow: hidden;
  font-weight: 700;
}

#plmanager {
  display: none;
}

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: .5em;
  cursor: grab;
  -ms-touch-action: none;
  touch-action: none;
}

#volandthings {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 22;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

#slider {
  display: inline-block;
  margin-bottom: 6px;
  margin-left: 5px;
}

#volstatus {
  cursor: pointer;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
  background-color: #f4810b;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
}

.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
}

.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
}


/* support: IE8 - See #6727 */

.ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

.ui-slider-horizontal {
  height: 3px;
}

#upperpart {
  color: #ffffffcc;
  transition: background-color 0.5s ease;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.25em;
  margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.importResult .material-icons {
  font-size: 15px;
  cursor: pointer;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

div.importResult {
  padding: 5px 3px 5px 5px;
  border-bottom: 1px solid #111;
}

div.qresult {
  border-bottom: 1px solid #111;
}

.ui-widget.ui-widget-content {
  border: none;
  background-color: #cccccc6e;
}

a.importLinkCheck {
  color: #eee;
}

#albumArt {
  width: 100px;
  margin-left: 15px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  float: left;
}

.imtxt {
  width: calc(100% - 50px);
  float: left;
  margin-top: 5px;
}

#results {
  margin-top: 10px;
}

div.qitem {
  background-color: #212121;
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  border-bottom: 1px solid #111;
  cursor: -webkit-grab;
}

div.pvbar {
  padding: 5px 3px 0 5px;
}

#topbar .inr .right {
  float: right;
}

.prson {
    padding: 5px 10px 5px 10px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.prson:nth-child(even) {
  background-color: #151515;
}

.clear {
  clear: both;
}

#niceboxes {
  background-color: black;
}

#usersbox {
  float: left;
  width: 240px;
}

#queuebox {
  position: relative;
  width: 100%;
}

.chatline:nth-child(even) {
  background-color: #eee;
}

.userline:nth-child(even) {
  background-color: #eee;
}

.queueline:nth-child(even) {
  background-color: #eee;
}

.queueline, .userline {
  padding: 5px;
}

#idtitle {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}

#userslist {
  height: 340px;
  overflow-y: scroll;
  border-top: 1px solid #111;
}

.usertab {
  font-size: 12px;
  width: 50%;
  display: inline-block;
  line-height: 25px;
  cursor: pointer;
  text-align: center;
}

.usertab,
#searchSelects span {
  flex: 1;
  margin: 1px 1px 0 1px;
  width: auto;
  line-height: 2;
  color: #bbb;
  background-color: #181818;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chatline {
  padding: 5px;
}

.chatline .from {
  font-weight: 700;
}

img.emoji {
    font-size: inherit;
    height: 3ex;
    width: 3.1ex;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
    margin: 0ex .15em .2ex;
    line-height: normal;
    vertical-align: middle;
}

div#tagPromptOverlay {
  position: absolute;
  top: 0;
  display: none;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  width: 100%;
  height: 100%;
}

div#tagPromptBox {
  background-color: #212121;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

#tagPromptClose {
  cursor: pointer;
  color: #777;
}

#tagPromptMain {
  height: 200px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 10px;
}

div#deletePromptOverlay, #settingsOverlay, #supercopOverlay {
  position: absolute;
  top: 0;
  display: none;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  width: 100%;
  height: 100%;
}

div#deletePromptBox, #settingsBox, #supercopBox {
  background-color: #212121;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

#deletePromptClose, #settingsClose, #supercopClose {
  cursor: pointer;
  color: #777;
}

#deletePromptMain, #settingsMain, #supercopMain {
  height: 200px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 10px;
}

.helptxt {
  padding: 5px;
}

div#plimportLauncher {
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  border-top: 1px solid #000;
  background-color: #151515;
}

div#pldeleteLauncher {
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  border-top: 1px solid #000;
  background-color: #151515;
  border-bottom: 1px solid #000;
}

div#importPromptOverlay {
  position: absolute;
  top: 0;
  display: none;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  width: 100%;
  height: 100%;
}

div#importPromptBox {
  background-color: #212121;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

#importPromptClose {
  cursor: pointer;
  color: #777;
}

#importPromptMain, #supercopMain {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#importPromptMain {
  height: 450px;
}

div#activeSuspentions {
    margin-top:-15px;
}

.ftlogo {
  color: #F4810B;
  font-size: 18px;
  font-weight: 700;
}

div#tagPromptHeader {
  background-color: #000;
  padding: 0 10px 0 10px;
  line-height: 35px;
  color: #eee;
}

#tagPromptHeader .left {
  float: left;
}

#tagPromptHeader .right {
  float: right;
}

div#deletePromptHeader, #settingsHeader, #supercopHeader {
  background-color: #000;
  padding: 0 10px 0 10px;
  line-height: 35px;
  color: #eee;
}

#deletePromptHeader .left, #settingsHeader .left, #supercopHeader .left {
  float: left;
}

#deletePromptHeader .right, #settingsHeader .right, #supercopHeader .right {
  float: right;
}

div#importPromptHeader {
  background-color: #000;
  padding: 0 10px 0 10px;
  line-height: 35px;
  color: #eee;
}

.avtr {
  position: absolute;
  z-index: 0;
  bottom: 0;
  width: 100%;
  height: 140px;
  background-repeat: no-repeat;
  background-position: bottom 18px center;
}

#importPromptHeader .left {
  float: left;
}

#importPromptHeader .right {
  float: right;
}

div#usertabs {
  white-space: nowrap;
}

div#usertabs,
#searchSelects {
  background-color: black;
  display: flex;
  padding: 1px 1px 0 1px;
}

div#usertabs .selected,
#searchSelects .searchSelectsSelected {
  margin-bottom: -1px;
  font-weight: bold;
  color: white;
  background-color: #212121;
  border-bottom: 1px solid #212121;
}

#queuelist {
  clear: both;
  height: 330px;
  overflow-y: scroll;
  border-top: 1px solid #111;
}

#bottomInfo {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000;
  padding-left: 2px;
  padding-right: 2px;
  left: 0;
  font-size: 10px;
  color: #999;
}

@keyframes MoveUpDown {
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    will-change:transform;
   }
}

@media only screen and (max-width: 799px) {
  div#usrarea {
    width: 100% !important;
  }
  body {
    overflow-y: auto !important;
  }
  #deletePromptBox, #tagPromptBox, #importPromptBox, #settingsBox, #supercopBox {
    width: 100% !important;
  }

  #tagMachine, #supercopSearch {
    width: calc(100% - 12px) !important;
  }
  #mainThing #rightbox, #themebox {
    width: 100% !important;
  }
  #mainThing #leftbox {
    width: 100% !important;
  }
  #recentHistory{
    width: 100% !important;
    top: 205px !important;
  }
  #prgbar {
    margin-bottom: 0 !important;
  }
  #niceboxes {
    margin-top: 0 !important;
  }
  #idtitle {
    display: none !important;
  }
  #bottomInfo {
    display: none !important;
  }
  div#otherpart {
    width: 100% !important;
  }
  .mmhidden {
    display: none !important;
  }
  div#minimodeoptions {
    display: block !important;
  }
  #middleContain {
    width: 100% !important;
  }
  #usersbox {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1199px) {
  .avtr {
    display: none;
  }
  #screenBox {
    top: -320px !important;
  }
  #volandthings {
    bottom: 0 !important;
  }
  #volplace{
    padding-left:15px !important;
  }
  #track, #artist{
    margin-left: 0 !important;
  }
  #artist, #track, #timr {text-shadow: none !important;}
  .rh{
    top: 175px !important;
  }
  #deck {
    height: 36px !important;
    overflow: hidden;
    margin-top: 0 !important;
    white-space: nowrap;
    vertical-align: top;
    width: 100% !important;
    font-size: 12px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #volandthings {
    width: calc(100% + 65px);
    margin-left: -65px;
  }
  #nowplaying {
    width: calc(100% - 65px) !important;
  }
  #track, #artist {
    width: calc(100% - 80px) !important;
  }
  .spot {
    height: 36px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 25% !important;
    vertical-align: top;
  }
  #npbox {
    padding-bottom: 15px;
  }
  #albumArt {
    height: 50px !important;
    width: 50px !important;
  }
}

@media only screen and (min-width: 1199px) and (max-width:1199px) {
  #nowplaying {
    width: calc(100% - 65px) !important;
  }
  #track, #artist {
    width: calc(100% - 80px) !important;
  }
}

@media only screen and (min-width: 1200px) {
  #deck {
    margin-left: 5vw !important;
    margin-right: 5vw !important;
  }
  #nowplaying {
    width: calc(100% - 120px) !important;
  }
  #track, #artist {
    width: calc(100% - 80px) !important;
  }
}

@media only screen and (min-width: 800px) {
  div#otherpart {
    width: 75% !important;
  }
  #mainThing #rightbox, #themebox {
    width: 25% !important;
  }
  div#usrarea {
    width: 25% !important;
  }
  #middleContain {
    width: 100% !important;
  }
  #mainThing #leftbox {
    width: 75% !important;
  }
  #usersbox {
    width: 100% !important;
  }
}
